/*格式化*/
html{
    font: 100px "微软雅黑";
}
header, section, footer, aside, nav, main, article, figure {
    display: block; 
}
body.modal-open header nav{
	padding-right: .17rem;
}
.zn-text-hidden>*{
	width: 100%;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	-webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-clamp: 2;
}
.nomargin{
	margin: 0;
}
.nopadding{
	padding-left:0 ;
	padding-right: 0;
}
.nopadding-left{
	padding-left:0 ;
}
.nopadding-right{
	padding-right: 0;
}
.panel-tip{
	margin-bottom: 0.2rem;
	overflow: hidden;
	font-size: 0.12rem;
	color: #333;
}
.panel-tip:before{
	float: left;
	content: url(../images/icon-yes.png);
	margin-right: 0.1rem;
}
.panel-tip>p{
	float: left;
	width: calc(100% - 0.4rem);
}
.btn.btn-orange{
	background: #f37021;
	color: #fff;
	font: .14rem "微软雅黑";
}
a.btn.btn-orange{
	background: #f37021;
	padding: 0 0.15rem;
	margin-top: 0.14rem;
	color: #fff;
}
.nav>li>a.btn-orange:focus, .nav>li>a.btn-orange:hover{
	background: #ca6121;
}
.content-wrapper{
	margin-top: .87rem;
}
@media only screen and (min-width: 1200px){
	.content-wrapper-list>.container{
		width: 12rem;
		padding: .15rem .3rem;
		box-shadow: 0 0 5px 1px rgba(153,153,153,0.2);
	}
	.zn-content-wrapper>.container{
		box-shadow: 0 0 5px 1px rgba(153,153,153,0.2);
		padding: .3rem;
	}
}

/*头部*/
.shop-wrapper header .navbar{
    box-shadow: 0 0 0.05rem 0.02rem rgba(4,0,0,0.2);
    border-radius: 0;
    background: #fff;
}
.shop-wrapper .navbar-nav:first-child>li{
	min-width: 1rem;
	bottom: -0.01rem;
}
.shop-wrapper .navbar-nav:last-child>li{
	bottom: -0.01rem;
}
.shop-wrapper .navbar-nav>li.active{
	border-bottom: 0.02rem solid #F37021;

}
.shop-wrapper .navbar-nav>li>a{
	font-weight: 500;
	text-align: center;
	line-height: 0.33rem;
	color: #1f2836;
	font-family: "微软雅黑";
	font-size: 0.16rem;
}
.shop-wrapper .navbar-nav>li>a.btn.btn-orange{
	color: #fff;
	font-size: 0.14rem;
	margin-left:0.15rem;
	margin-right:0.15rem;
}
.shop-wrapper .navbar-form{
	margin-top: 0.16rem;
}
.shop-wrapper .navbar-form .form-control-feedback{
	left: 0;
	transform: rotateY(180deg);
}
.shop-wrapper .navbar-form .form-control{
	padding: 0.06rem 0.12rem 0.06rem 0.32rem;
}

footer{
	margin-top: 0.35rem;
}
.footer-1{
	background: #eee;
	padding: 0.15rem;
	border-bottom: 0.02rem solid #f37021;
}
.firends-links{
	padding-left:21% ;
	padding-right: 8%;
	margin: 0.35rem auto;
}
.footer-qr{
	position: relative;
	top: -.16rem;
}
.footer-qr>.row:first-child{
	font: .12rem "微软雅黑";
	color: #666;
	margin-left: 0;
}
.footer-qr-img>div:first-child{
	margin:0 .4rem;
}
.footer-2{
	font-weight: 600;
	font: .12rem "微软雅黑";
	color: #999;
	background: #333;
	padding: .2rem 0 .3rem;
}
/*进度条*/
.zn-progress-bar{
    padding-bottom:0.4rem ;
    margin-bottom: 0.4rem;
    height: .98rem;
}
.zn-progress-bar>div{
	float: left;
}
.progress-bar-round{
	position: relative;
	width: 0.58rem;
	height: 0.58rem;
	border-radius: 50%;
	border: 0.02rem solid #ccc;
	background: #999;
}
.progress-bar-round-number{
	font: 0.32rem "微软雅黑";
	color: #fff;
	text-align: center;
	line-height: 0.55rem;
}
.progress-bar-round-text{
	position: absolute;
	width: 300%;
	left: -100%;
	text-align: center;
	font-size: 0.14rem;
	color: #333;
	margin: 10px auto;
}
.progress-bar-line{
	margin-top: 0.3rem;
	height: 0.03rem;
	width: 30%;
	width: calc((100% - 2.5rem)/2);
	background: #ccc;
}
.zn-progress-bar .progress-bar-round.active{
	background: #29b2fc;
	border: 0.02rem solid #bee8ff;
}
.zn-progress-bar .progress-bar-line.active{
	background:#bee8ff;
}
/*表单*/
.zn-shop-form label{
	width: 0.88rem;
	font: 0.14rem "微软雅黑";
	color:#333;
	text-align: right;
	line-height: 0.34rem;
}
@media (min-width: 768px){
	.zn-shop-form label.control-label{
		padding-top:0;
	}
}
textarea{
	resize: none;
}
input::-webkit-input-placeholder {
	color: #999;
}
input::-moz-input-placeholder {
	color: #999;
}
input::-ms-input-placeholder {
	color: #999;
}
.bidding-btn-replenish,.bidding-btn{
	width: 2rem;
	height: .34rem;
}
.btn-default.bidding-btn-replenish {
    color: #f0ad4e;
    background-color: #fff;
    border-color: #f0ad4e;
}
.btn-default.bidding-btn-replenish:hover{
	background-color: #ffc;
}
.bidding-info{
	margin-top: .10rem;
	color: #333;
}
.bidding-info-company{
	font: .16rem "微软雅黑";
}
.bidding-info-company-modal{
	margin-bottom: .1rem;
	font-size: .14rem;
}
.bidding-info-company-intro{
	font: .12rem "微软雅黑";
	line-height: .2rem;
}
.bidding-info-company-intro-modal{
	margin-bottom: .2rem;
	font-size: .12rem;
}
.bidding-info-quote{
	font: .16rem "微软雅黑";
	padding: .2rem 0;
	
}
.bidding-info-quote span{
	margin-left: .15rem;
}
.details{
	padding: .15rem 0;
}
.bidding-info-company-modal-footer{
	margin-top: .3rem;
}
.contact-info-modal{
	margin: .15rem 0;
}
.bidding-info-company-modal-footer>.help-block{
	font-size: .14rem ;
	color: #999;
}
.zn-index-wrapper-wx,.header-wx,.wx-footer,.zn-myshop-wx-wrapper,div[class|=zn-shop-footer]{
	display: none;
}
/*分享*/
.share-wrapper{
	margin-bottom: 0.6rem;
}
.share-wrapper>.row{
	margin: 0.15rem auto;
}
/*需求列表*/
.filter-wrapper{
	outline: .01rem solid #eee;
	margin-bottom: .2rem;
	padding: .1rem;
	font:.12rem "微软雅黑";
	color: #333;
	line-height: .35rem;
	word-break: keep-all;
}
.filter{
	color: #999;
}
.filter>span{
	padding: .05rem;
	margin: 0 .05rem;
	cursor: pointer;
}
.filter>span.active{
	background: #f37021;
	color: #fff;
	border-radius: .05rem;
}
.needs-list table{
	border: .01rem solid #eee;
	font: .14rem "微软雅黑";
	color: #333;
}
.needs-list .table>tbody>tr>td,.needs-list  .table>tbody>tr>th,.needs-list  .table>tfoot>tr>td,.needs-list  .table>tfoot>tr>th,.needs-list  .table>thead>tr>td,.needs-list  .table>thead>tr>th{
	border-top: .01rem solid #eee;
}
.needs-list .table>tbody>tr>th{
	background: #eee;
}
.needs-list .table>tbody>tr>:nth-child(1){
	width: 60%;
	vertical-align: middle;
}
.needs-list .table>tbody>tr>:nth-child(2){
	width: 10%;
	text-align: center;
	vertical-align: middle;
}
.needs-list .table>tbody>tr>:nth-child(3){
	width: 10%;
	text-align: center;
	vertical-align: middle;
}
.needs-list .table>tbody>tr>:nth-child(4){
	width: 20%;
	text-align: center;
	vertical-align: middle;
}
.needs-list .table>tbody>tr:hover{
	color: #f37021;
}

/*筛选模块*/
.filter-wrapper-supplier{
	display: none;
	box-shadow: 0 0 .05rem .01rem rgba(0,0,0,.2);
}

/*链接模块*/
.zn-panel-tip .zn-content-box{
	margin: 0 0 .15rem;
}
.content-links a{
	color: #333;
}
.content-links a:hover{
	color: #f37021;
}
.zn-content-box>.zn-content-box-span .content-links>a>div:first-child{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.replenish,.bidding{
	display: none;
}
.contact-info{
	position: relative;
}
.contact-info .contact-info-mask{
	position: absolute;
	background: #f5f5f5;
	width: 2rem;
	height: .78rem;
	line-height: .78rem;
	z-index: 999;
	top: 0;
}
.contact-info .contact-info-mask>a{
	color: #f37021;
	border-bottom:1px solid #f37021;
	padding-bottom:.01rem;
}
.contact-info .contact-info-mask>a:hover{
	text-decoration: none;
}
.zn-upload{
	width: 2rem;
	height: .34rem;
	border: .01rem solid #f37021;
	border-radius:.04rem ;
	position: relative;
	float: left;
}
.zn-upload>.upload-btn{
	width: 2rem;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	color: #f37021;
	line-height: .34rem;
	z-index: 100;
	cursor: pointer;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.zn-upload>input[type="file"]{
	opacity: 0;
	cursor: pointer;
}
.zn-help-block{
	float: left;
	margin-left: .1rem;
	font: .12rem/.34rem "微软雅黑";
	color: #999;
}
/*轮播图*/
.zn-carousel{
	top: -.2rem;
}
.asking-info{
	position: absolute;
	top: .2rem;
	margin: 0 auto;
	padding: .15rem;
	background:#fff;
	width: 3rem;
	z-index: 16;
}
.asking-info .title h5{
	font-family: "黑体";
	font-size: .16rem;
	color: #1d204b;
}
.asking-info .title small{
	margin-left: .05rem;
	font: .12rem "黑体";
	color: #666;
}
.asking-info select>option{
	color: #999;
}
.apply-now{
	margin-bottom: 0;
}
.zn-carousel>.carousel-inner>.item>img{
	width: 100%;
	height: 3.9rem;
	margin: 0 auto;
}
.zn-carousel>.carousel-indicators{
	bottom: .58rem;
	left: 64%;
}
.carousel-indicators li {
    width: .12rem;
    height: .12rem;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff\9;
    background-color: rgba(255,255,255,.9);
    box-shadow: 0 0 5px 1px #999999;
    border: .01px solid #fff;
    border-radius: .12rem;
    margin-right: .05rem;
}
.carousel-indicators .active {
    background-color: #000;
    border: .01px solid #000;
    margin: .01rem;
    margin-right: .05rem;
}

.carousel-control {
    position: absolute;
    top: 1.4rem;
    left: 40%;
    width: .45rem;
    height: .45rem;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    filter: alpha(opacity=50);
    opacity: .5;
}
.carousel-control>.glyphicon{
	font-size: .45rem;
}
.right.carousel-control{
	right: calc((100% - 12rem)/2);
	background-image: none;
}
.zn-opration-process{
	width: 8.1rem;
	height: 1.07rem;
	margin: 0 auto;
	background: #fff;
	box-shadow: 0 0 .02rem .01rem rgba(122,122,122,.5);
	position: relative;
	top: -.6rem;
}
.zn-opration-process>li{
	float: left;
	width: 1.62rem;
	line-height: 1.07rem;
	font-size: .14rem;
	font-weight: 700;
	
}
.zn-opration-process li:first-child{
	background: url(../images/zn-opration-process.png) no-repeat;
	background-size: 100% 100%;
	opacity: .9;
	color: #fefefe;
	font-size: .24rem;
	font-family: "微软雅黑";
	font-weight: normal;
}
.zn-opration-process li:first-child:before{
	background: none;
	width: 0;
}
.zn-opration-process li:before{
	content: "";
	margin-top: .37rem;
	margin-left: .25rem;
	margin-right: .05rem;
	float: left;
	width: .37rem;
	height: .32rem;
	background: url(../images/icon-opration.png)  no-repeat;
}
.zn-opration-process li:nth-child(2):before{
	background: url(../images/icon-opration.png)  no-repeat;
}
.zn-opration-process li:nth-child(3):before{
	background: url(../images/icon-opration.png) -1.6rem 0 no-repeat;
	margin-left: .15rem;
}
.zn-opration-process li:nth-child(4):before{
	background: url(../images/icon-opration.png) -3.31rem 0 no-repeat;
}
.zn-opration-process li:nth-child(5):before{
	background: url(../images/icon-opration.png) -4.9rem 0 no-repeat;
}
.zn-index-content-wrapper{
	margin-top: -.2rem;
	padding: .3rem;
    box-shadow: 0 0 .05rem .01rem rgba(230,230,230,.9);
}

/*内容模块*/
.zn-content-box-span{
	padding: .15rem .15rem 0;
	margin-bottom: .15rem;
	border-right: 1px solid #eee;
	min-height: 3rem;
}
.zn-content-box-span:last-child{
	border-right:none;
}
.zn-content-box{
	outline: 1px solid #eee;
	color: #333;
	margin-bottom: .4rem;
}
.zn-content-box .title{
	margin-bottom: .05rem;
	font: .14rem "微软雅黑";
}
.zn-content-box .title a{
	color: #333;
}
.zn-content-box .title a:hover{
	color: #f37021;
}
.zn-content-box .content{
	border-top: 2px solid #f37021;
	padding-top:.05rem ;
	margin:0;
	font: .12rem "微软雅黑";
}
.content-links{
	margin-bottom: .1rem;
}
.content-links:last-child{
	margin-bottom: 0;
}
.zn-content-box-news .zn-content-box-span:first-child .title{
	border-left: 2px solid #f37021;
}
.zn-content-box-news.zn-content-box .zn-content-box-span:first-child .content{
	border-top: none;
	padding-top: .07rem;
}
.zn-content-box-news.zn-content-box .zn-content-box-span{
	border-right: none;
}
.img-thumbnail{
	border: none;
	text-align: center;
	text-decoration: none;
	height: 3.3rem;
	position: relative;
}
.img-thumbnail>img{
	width: 100%;
	height: 2.0255rem;
}
.img-thumbnail:hover{
	text-decoration: none;
}
.img-thumbnail>.caption{
	text-align: left;
	color: #333;
	text-decoration: none;
	padding: .1rem 0;
}
.img-thumbnail>.caption:hover{
	text-decoration: none;
}
.zn-content-box.zn-content-box-news.zn-content-box-show{
	outline: none;
}
.zn-content-box.zn-content-box-news.zn-content-box-show .title>div:not(:last-child){
	cursor: pointer;
}
.zn-content-box.zn-content-box-news.zn-content-box-show .img-thumbnail{
	border: 1px solid #eee;
	padding: 0;
}
.zn-content-box.zn-content-box-news.zn-content-box-show .caption{
	padding: .1rem;
}
.news-title{
	font: .14rem "微软雅黑";
	color: #333;
}
.news-time{
	display: block;
	color: #aaa;
	font: .12rem "微软雅黑";
}
.news-intro{
	color: #636363;
	font: .12rem "微软雅黑";
	min-height: .3rem;
	overflow: hidden;
}
.news-title{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;

}
.box-show{
	position: relative;
}
.box-show-class{
	position: absolute;
	top: 0;
	right: 0;
	width: .7rem;
	height: .3rem;
	line-height: .3rem;
	font-size: .12rem;
	color: #fff;
	background: #1f1f1f;
	opacity: .5;
	
}
.expo-box>.zn-col-2.col-md-2{
	width: 20%;
	padding: 0 .1rem;
}
.expo-box img{
	width: 100%;
	height: 1.77rem;
}
.expo-name{
	font: .14rem "微软雅黑";
	color: #353535;
	text-align: center;
	margin: .15rem auto;
}
.expo-hr{
	width: 100%;
	height: .05rem;
	background: #f2da6a;
	margin: .15rem auto;
}
.expo-addr,.expo-remark{
	font-size: .12rem;
	font-family: "微软雅黑";
	margin-bottom: .1rem;
	color: #757575;
}
/*消息推送*/
.notifacition-title{
	margin: 0;
	padding: .25rem 0;
	border-bottom: .01rem solid #eee;
	color: #333;
	font-size: .18rem;
	font-family: "微软雅黑";

}
.notifacition-title>*{
	display: inline-block;
	float: left;
}
.notifacition-title>.icon{
	display: inline-block;
	margin: 0;
	position: relative;
	top: .05rem;
	width: .03rem;
	height: .9em;
	background: #f37021;
	border-radius: .02rem;
}
.notifacition-title .title{
    margin-left: .15rem;
}
.notifacition-content{
	margin: 0;
	padding: .25rem 0 .25rem .18rem;
	border-bottom:.01rem solid #eee ;
	width: 90%;
}
.notifacition-content .notifacition-content-title{
	font-size: .14rem;
	color: #333;
}
.notifacition-content .notifacition-content-time{
	font-size: .12rem;
	color: #999;
}
.notifacition-content .notifacition-content-content{
	font-size: .12rem;
	color: #333;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	height: .17rem;
}
.notifacition-title:nth-child(2){
    	display: none;
    }
.zn-thumbnail>.img-thumbnail{
	width: 100%;
}
.zn-thumbnail>.img-thumbnail>.caption>.title{
	border-left: .03rem solid #f37021;
	padding-left: .1rem;
	color: #333;
	font-size: .14rem;
}
.notifacition-details-wrapper{
	padding: .15rem;
}
.notifacition-details-title{
	font-size: .18rem;
	color: #333;
	font-family: "微软雅黑";
	font-weight: 700;
}
.notifacition-details-time{
	color: #999;
	font-weight: 400;
}
.notifacition-details-content{
	text-indent: 2em;
	font-size: .14rem;
	color: #333;
	font-family: "微软雅黑";
}
/*注册*/
body.reg{
	background: url(../images/reg-bg.jpg);
}
.zn-reg-form{
	height: 4.31rem;
	margin: .2rem 2.2rem;
	background: #fff;
	box-shadow: 0 0 .05rem .01rem rgba(153,153,153,.5);
	padding:.5rem .3rem;
}
.zn-reg-form>form .form-group{
	margin-bottom: .2rem;
}
.zn-reg-form>form input{
	color: #333;
}
.zn-reg-form>form input[type=text],.zn-reg-form>form input[type=password],.zn-reg-form>form button{
	height: .42rem;
	border-radius: 0;
}
.link-login{
	font-family: "黑体";
	color: #b8c4ce;
	font-size: .12rem;
	margin: .15rem auto;
}
.link-login a{
	color: #3498db;
}

.zn-reg-form>form input::-webkit-input-placeholder {
	font-size: .14rem;
	color: #b8c4ce;
}
.zn-reg-form>form input::-moz-input-placeholder {
	font-size: .14rem;
	color: #b8c4ce;
}
.zn-reg-form>form input::-ms-input-placeholder {
	font-size: .14rem;
	color: #b8c4ce;
}
.check-code-btn{
	cursor: pointer;
	color: #fff;
	font-family: "黑体";
	font-size: .14rem;
	background: #ccc;
}
.reg-btn{
	color: #fff;
	font-size: .18rem;
	font-family: "黑体";
}
.login-wx{
	display: none;
}
.zn-form-2{
	display: none;
}
.login-welcome{
	margin: 0;
	line-height: .47rem;
	color: #666;
	font-size: .16rem;
	font-family: "黑体";
}
.login-btn.btn-orange{
		color: #fff;
        font-size: 0.18rem;
        font-family: "黑体";
	}
.login-btn+.help-block{
	margin-top: .2rem;
}
.login-btn+.help-block>a{
	font-family: "黑体";
	font-size: .12rem;
	color: #3498db;
}
label.login-remember{
	font: .12rem "黑体";
	color: #34495e;
}
label.login-remember>span{
	position: relative;
	bottom: .02rem;
}
label.login-remember+.forget-pwd>a{
	font: .12rem "黑体";
	color: #3498db;
}
/*用户中心*/
.zn-list-left-wrapper{
	box-sizing: border-box;
	border: .01rem solid #eee;
	padding: 0;
	margin: 0 .15rem;
	min-height: 5.86rem;
}
.zn-list-left{
	margin: 0;
	text-align: center;
	line-height: .6rem;
	box-sizing: border-box;
}
.zn-list-left:first-child{
	height: .3rem;
	background: #eee;
}
.zn-list-left-links{
	height: .6rem;
	
}
.zn-list-left-links>a{
	display: inline-block;
	width: 95%;
	height: 100%;
	font: .18rem "微软雅黑";
	color: #333;
	line-height: .6rem;
}
.zn-list-left-links>a:hover,.zn-list-left-links>a:focus{
	text-decoration: none;
}
.zn-list-left-links.active:before{
	content: "";
	display: inline-block;
	float: left;
	width: .1rem;
	height: 100%;
	background: #f37021;

}
.zn-list-left-links.active>a{
	font: .24rem "微软雅黑";
	color: #f37021;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	box-sizing: border-box;
	line-height: .6rem;
}
.zn-myshop-wrapper{
	background: url(../images/zn-shop-user-center-bg.jpg) no-repeat;
	background-size:100% 100% ;
	min-width: 6.91rem;
	min-height: 5.86rem;
	margin-left: .3rem;
	position: relative;
}
.zn-myshop-wrapper-head{
	margin-left: .15rem;
	padding-top: .6rem;
}
.zn-myshop-wrapper-head>p{
	font: .24rem "微软雅黑";
	color: #514d48;
	font-weight: 600;
}
.zn-myshop-wrapper-head>p+p{
	font: .32rem "微软雅黑";
	color: #fec975;
	text-shadow: .02rem .02rem .02rem #d2d2d2;
	margin: .2rem 0;
	
}
.zn-myshop-wrapper-head>p+p+p{
	font: .14rem "微软雅黑";
	color: #333;
	
}
.zn-myshop-icon{
	position: absolute;
	top: .3rem;
	right: .3rem;
	width: 2.53rem;
	height: 2.09rem;
	background:url(../images/icon-shop.png) no-repeat;
	background-size:100% 100% ;
}
.zn-list-content-head {
    background: #eee;
    font: .16rem/.3rem "微软雅黑";
    padding: 0 .15rem;
    box-sizing: border-box;
}
.zn-list-content-wrapper{
	width: 95%;
	margin-left:.3rem;
	border: 0.01rem solid #eee;
}
.zn-list-content{
	font: .14rem "微软雅黑";
	color: #333;
	padding: .15rem;
	border-top:.01rem solid #eee ;
}
.zn-needs-label{
	font: .12rem "微软雅黑";
	color: #999;
}
.zn-needs-number{
	margin-right: .2rem;
}
.zn-list-content-pos{
	position: relative;
	top: .15rem;
}
.zn-needs-details-link{
	font: .14rem "微软雅黑";
	color: #079fed;
}
.zn-user-center-head {
    background: #eee;
    font: 0.16rem/.3rem "微软雅黑";
    padding: 0 0.15rem;
    border: 1px solid #eee;
    box-sizing: border-box;
}
.zn-user-center-wrapper {
    width: 95%;
    margin-left: 0.3rem;
}
.zn-shop-cert-form>.form-group{
	margin: .2rem 0;
	font: .14rem "微软雅黑";
	color: #333;
	font-weight: 400;
}
.zn-shop-cert-form>.form-group input[type=radio]{
	margin-left: -.15rem;
}
.zn-shop-cert-form>.form-group label{
	font-weight: 400;
}
.distpicker-add{
	margin-bottom: .1rem;
}
.id-photo{
    min-height: 2rem;
}
.cert-type{
	margin: .2rem 0 0;
	font: .14rem "微软雅黑";
	color: #333;
	font-weight: 400;
}
.cert-type-company,.cert-type-personal{
	cursor: pointer;
}
.icon-cert-type{
	display: inline-block;
	width: .12rem;
	height: .12rem;
	border-radius: 50%;
	margin-right: .05rem;
	border: .01rem solid #ccc;
	line-height: .19rem;
	box-sizing: border-box;
}
.cert-type-company.active .icon-cert-type,.cert-type-personal.active .icon-cert-type{
	border: .05rem solid #3498db;
}
.zn-shop-cert-form-company{
	display: none;
	margin-bottom: .6rem;
}
.zn-myshop-btn-wrapper{
	width: 6.75rem;
	left: .05rem;
	position: absolute;
	margin: 0;
	bottom: .32rem;
}
.zn-myshop-btn{
	width: 1.05rem;
	height: .39rem;
	margin: .12rem auto;
	border-radius: 0.05rem;
	background: linear-gradient(to top, #FD7701, #FEA70A);
    font: .18rem/.39rem "微软雅黑";
    color: #fff;
    text-align: center;
    cursor: pointer;
}
.zn-myshop-btn:hover{
	box-shadow: 0 .02rem .02rem .02rem rgba(122,122,122,.27) inset;
}
.zn-myshop-btn:active{
	box-shadow: 0 .02rem .02rem .02rem rgba(0,0,0,.27) inset;
}
.zn-myshop-btn-title{
	text-align: center;
	padding: 0 .2rem;
	font: .12rem "微软雅黑";
    color: #999;
}
.zn-myshop-btn-title p{
	margin-bottom: 0;
}
/*店铺*/
.zn-shop-head{
	margin: -.3rem -.3rem 0;
	background: url(../images/bg-shop-head.png) no-repeat;
	background-size: 100% 100%;
	height: 1.64rem;
	padding: .25rem;
}
.icon-head{
	width: 1.1rem;
	height: 1.1rem;
	border: .05rem solid rgba(254,254,254,.749);
}
.shop-name{
	font: .18rem "微软雅黑";
	color: #fff;
	font-weight: 700;
}
.shop-phone-number{
	font: .14rem "微软雅黑";
	color: #fff;
}
.shop-intro{
	font: .14rem "微软雅黑";
	color: #999;
}
.zn-shop-head-btn{
	font: .14rem "微软雅黑";
	color: #fff;
}
a.btn.btn-orange.zn-shop-head-btn {
    background: #f37021;
    padding: .06rem .12rem;
    margin-top: 0;
    color: #fff;
    margin-left: .2rem;
}
a.btn.btn-orange.zn-shop-head-btn:hover {
	background: #ca6121;
}
.shop-service-show-box-wrapper{
	margin: .3rem .5rem;
}   
.shop-service-show-box-wrapper-title{
	text-align: center;
	font: .32rem "微软雅黑";
	color: #333;
	position: relative;
}
.zn-shop-hr{
	height: .02rem;
	background: #999;
	margin: .25rem 0;
	width: 3.2rem;
}
.icon-shop-service-show-box-wrapper-title{
	position: absolute;
	width: .08rem;
	height: .08rem;
	border-radius: 50%;
	background: #e77726;
	top: .22rem;
	left: -.1rem;
	border: .01rem solid #e77726;
}
.icon-shop-service-show-box-wrapper-title-right{
	position: absolute;
	width: .08rem;
	height: .08rem;
	border-radius: 50%;
	background: #e77726;
	top: .22rem;
	right: -.1rem;
	border: .01rem solid #e77726;
}
.shop-service-show-box .caption{
	padding-top: 0;
}
.shop-service-show-box-title{
	text-align: center;
	font: .18rem "微软雅黑";
	color: #333;
	font-weight: 700;
}
.shop-service-show-box-content{
	font: .14rem "微软雅黑";
	color: #999;
	padding: 0 .15rem;
}
.shop-service-show-box:last-child{
	cursor: pointer;
	height: 3.3rem;
}
.shop-service-show-box:last-child span.glyphicon{
	width: 100%;
	margin-top: .04rem;
	font: .6rem/2.0255rem "微软雅黑";
	color: #333;
	font-weight: 700;
	text-align: center;
	background: #eee;
}
.shop-service-delete-btn,.shop-service-edit-btn{
	display: inline-block;
	padding: .05rem;
	font: .14rem "微软雅黑";
	color: #ff8932;
}
.free-consultation-btn{
    position: absolute;
    width: .94rem;
    height: .36rem;
    background: rgba(255,255,255,.7);
    right: 0;
    top: 1.47rem;
    font: .12rem/.36rem "微软雅黑";
	color: #f37021;
}
.zn-shop-view-bidding-form{
	margin-bottom: 2rem;
}
.zn-shop-view-bidding-form>.form-group{
	margin-left: 0;
	margin-right: 0;
}
.zn-shop-view-bidding-form>.form-group label{
	font: .14rem "微软雅黑";
	color: #333;
}
.zn-shop-view-bidding-form>.form-group label img{
	width: .9rem;
	height: .9rem;
	background: #fff;
	border: .05rem solid #eee;
}
.view-bidding-company{
	font: .18rem "微软雅黑";
	color: #333;
}
.budget{
	font: .14rem "微软雅黑";
	color: #333;
}
.needs-des{
	font: .12rem "微软雅黑";
}
.service-provider-btn{
	padding: .1rem 0;
	height: .44rem;
}
.accessory img{
	max-width: 100%;
}
.zn-shop-biddng-form-wx{
	padding: .05rem;
}
.zn-shop-biddng-form-wx>.form-group{
	margin: .2rem 0;
}
.zn-shop-biddng-form-wx>.form-group label{
	padding-top: .07rem;
	text-align: right;
	font: .14rem "微软雅黑";
	color: #333;
}
.zn-shop-body-details{
	margin-top: .2rem;
}
.zn-shop-body-details-title{
	font: .24rem "微软雅黑";
	font-weight: 700;
}
.zn-shop-body-details-title-btn.btn{
	font: .12rem "微软雅黑";
}
.zn-shop-body-details-title-wrapper{
	margin-bottom: .2rem;
}
.zn-shop-body-details-transport{
	width:100%;
	height: 3.8rem;
	background: url(../images/details-transport.png) no-repeat;
	background-size: 100% 100%;
}
.details-hr{
	margin: .6rem auto .2rem;
	width: 100%;
	height: .02rem;
	background: #eee;
}
.zn-shop-body-details-btn{
	width: 2rem;
	font: .14rem "微软雅黑";
	padding: .12rem 0;
}
.zn-shop-details-aside-box,.zn-shop-details-aside-box-other{
	margin: 0.05rem;
	padding: .05rem .1rem;
	border: .01rem solid #eee;
}
.products-intro-title{
	font: .14rem "微软雅黑";
	color: #333;
}
.products-intro-content{
	margin-top: .3rem;
	margin-bottom: .05rem;
	font: .12rem "微软雅黑";
	color: #333;
	line-height: .2rem;
}
.products-intro-content>p{
	margin-bottom: 0;
}
.zn-shop-details-aside-box-other{
	background: #eee;
	min-height: 2rem;
	margin: .2rem auto;
}
/*商店编辑*/
.zn-shop-edit-body{
	margin: .5rem auto;
	width: 4.8rem;
}
.zn-shop-edit-title{
	font: .18rem "微软雅黑";
	color: #333;
	margin: .2rem 0;
}
.zn-shop-edit-title:before{
	content: "";
	display: inline-block;
	width: .03rem;
	height: .19rem;
	position: relative;
	top: .03rem;
	background: #F37021;
	border-radius:.02rem ;
	margin-right: .05rem;
}
.zn-shop-edit-input{
	width: 100%;
	height: .36rem;
	border: none;
	background: #eee;
	text-indent: .1rem;
}
.zn-shop-edit-upload{
	width: 2.99rem;
	height: 1.68rem;
	background: #eee;
	margin: 0 auto;
	position: relative;
	cursor: pointer;
}
.edit-plus-help{
	width: 2.99rem;
	margin: 0 auto;
	font: .12rem "微软雅黑";
}
.edit-plus-help>p{
	margin-bottom: 0;
}
.edit-plus{
	display: inline-block;
	width: .48rem;
	height: .48rem;
	border-radius: 50%;
	border: .01rem solid #666;
	position: absolute;
	text-align: center;
    font: .3rem/.46rem "微软雅黑";
    font-weight: 200;
    top: .6rem;
    left:1.2rem;
}
.icon-bidding-wx-upload{
    width: .77rem;
    height: .435rem;
    background: #eee;
    position: relative;
}
.icon-bidding-wx-upload-text{
	width: .77rem;
	text-align: center;
	font: .12rem "微软雅黑";
	color: #333;
	border: .01rem solid #eee;
}
.zn-upload-mask-btn{
	cursor: pointer;
}
.service-provider-filter.filter-wrapper-needs{
	display: none;
}
.service-provider-filter.filter-wrapper-supplier{
	display: block;
}
.row.notifacition-content:hover p{
	color: #f37021;
}
/*移动设备适配*/
@media only screen and (min-width: 100px) and (max-width: 720px) {
	.zn-index-wrapper-wx,.header-wx,.wx-footer,.zn-myshop-wx-wrapper,div[class|=zn-shop-footer]{
		display: block;
	}
	.filter-wrapper{
		outline: none;
		box-shadow: none;
	}
	header,.zn-list-left-wrapper,.zn-shop-head-btn-wrapper,.zn-shop-head-details,.zn-shop-details-aside-box-wrapper,
	.zn-shop-body-details-title-wrapper,.details-hr,.example-pic-wrapper,.shop-service-show-box:last-child{
		display: none;
	}
	footer{
		display: none;
	}
	.content-wrapper{
	    margin-top: .2rem;
    }
	.zn-panel-tip{
		display: none;
	}
	.zn-shop-form>.form-group>div[class|="col"]{
		padding-left: 0;
		padding-right: 0;
	}
	.zn-progress-bar{
		margin-left: 0.15rem;
	}
	
	.progress-bar-line {
		width: 20%;
        width: calc((100% - 2.3rem)/2);
    }
	
	.zn-shop-form div.form-group,.share-wrapper .row{
		margin-right: 0;
        margin-left: 0;
	}
	.share-wrapper .share-title{
		font-family: "微软雅黑";
		font-weight: bold;
		font-size: 0.38rem;
		text-align: center;
	}
	.share-wrapper .share-subtitle{
		color: #999;
	}
	.needs-list table{
	    border: .01rem solid #eee;
	    font: .12rem "微软雅黑";
    	color: #333;
    }
	.needs-list .table>tbody>tr>:nth-child(1){
	    width: 40%;
    }
    .needs-list .table>tbody>tr>:nth-child(2){
	    width: 20%;
    }
    .needs-list .table>tbody>tr>:nth-child(3){
	    width: 20%;
    }
    .needs-list .table>tbody>tr>:nth-child(4){
	    width: 20%;
    }
    .details,.pagination{
    	display: none;
    }
    .notifacition-title{
    	padding: .1rem .05rem;
    	margin-right: -.15rem;
    	margin-left: -.15rem;
    	font-size: .16rem;
    }
    .notifacition-title .icon{
    	margin-left: .15rem;
    }
    .notifacition-title .title{
    	margin-bottom: 0;
    	margin-left: .05rem;
    }
    .notifacition-content{
    	width: 100%;
    	margin-right: -.15rem;
    	margin-left: -.15rem;
    }
    .notifacition-content-title{
    	font-size: .16rem;
    	font-weight: 700;
    }
    .notifacition-content-wrapper{
    	margin-top: 0;
    }
    .notifacition-title:nth-child(1){
    	display: none;
    }
    .notifacition-title:nth-child(2){
    	display: block;
    }
    .notifacition-details-title{
    	font-size: .19rem;
    }
    .notifacition-details-time{
    	font-size: .12rem;
    }
    .notifacition-details-content{
        font-size: .14rem;
    }
    .zn-reg-form{
    	margin: 0 -.15rem;
    	box-shadow: none;
    }
    .register-wrapper{
    	margin-top: 0;
    }
    .login-wx{
    	display: block;
    	position: fixed;
    	bottom: 35%;
    	margin-left: -.15rem;
    	text-align: center;
    	width: 100%;
    }
    .login-wx a{
    	color: #079fed;
    	font-size: .12rem;
    }
    .zn-form-1{
    	display: none;
    }
    .zn-form-2{
    	display: block;
    }
    .zn-reg-form>form input::-webkit-input-placeholder {
		font-size: .12rem;
		color: #999;
	}
	.zn-reg-form>form input::-moz-input-placeholder {
		font-size: .12rem;
		color: #999;
	}
	.zn-reg-form>form input::-ms-input-placeholder {
		font-size: .12rem;
		color: #999;
	}
	.zn-reg-form>form.zn-form-2 input{
		background: #eee;
		height: 0.36rem;
	}
	.zn-reg-form>form.zn-form-2 button{
		border-radius: .02rem;
		height: 0.36rem;
	}
	.zn-reg-form>form.zn-form-2 .form-group{
		display: none;
	}
	.zn-reg-form>form.zn-form-2 .form-group.active{
		display: block;
	}
	.zn-reg-form>form.zn-form-2 .form-group:last-child{
		margin-top: .5rem;
		display: block;
	}
	.zn-reg-form>form.zn-form-2 .form-group:nth-child(2) .input-group-addon.check-code-btn{
		background: #f37021;
	}
	.reg-btn-wx+.help-block,.login-btn-wx+.help-block{
		margin-top: .2rem;
	}
	.reg-btn-wx+.help-block>a,.login-btn-wx+.help-block>a{
		font-size: .12rem;
		color: #079fed;
	}
	.reg-btn-wx.btn-orange,.login-btn-wx.btn-orange{
		color: #fff;
        font-size: 0.18rem;
        font-family: "黑体";
	}
	.zn-reg-form.zn-login-form>form.zn-form-2 .form-group{
		display: block;
	}
	body.reg{
		background: #fff;
	}
	.asking-info,.carousel-control,.zn-index-wrapper{
		display: none;
	}
	.zn-carousel>.carousel-inner>.item>img {
	    width: 100%;
	    height: 1.9rem;
	    margin: 0 auto;
	}
	.zn-carousel>.carousel-indicators {
	    bottom: 0;
	    left: 54%;
	}
	.zn-navbar-wx{
		margin-bottom: 0;
	}
	.navbar-brand{
		padding: .1rem 0 0 .1rem;
	}
	.navbar-brand img{
		width: .825rem;
		height: .23rem;
	}
	.shop-wrapper .navbar-form {
	    margin:0 auto;
	    padding: .1rem 0;
	}
	.head-icon{
		padding: .1rem;
		width: .5rem;
		height: .5rem;
		border-radius: .15rem;
	}
	.head-icon>img{
		background: #000;
	}
	.zn-navbar-form-wx input{
		height: .25rem;
	}
	.form-control-feedback {
	    position: absolute;
	    top: 0;
	    right: 0;
	    z-index: 2;
	    display: block;
	    width: 34px;
	    height: .25rem;
	    line-height: .25rem;
	    text-align: center;
	    pointer-events: none;
	}
	.icon-demand,.icon-service-provider,.icon-hair-nees{
		text-align: center;
		font: .12rem "微软雅黑";
		color: #333;
	}
	.icon-demand:before{
		display: inline-block;
		width: .3rem;
		height: .3rem;
		margin-bottom: .2rem;
		content: "";
		background: url(../images/icon-demand.png) no-repeat;
		background-size:100% 100% ;
	}
	.icon-service-provider:before{
		display: inline-block;
		width: .3rem;
		height: .3rem;
		margin-bottom: .2rem;
		content: "";
		background: url(../images/icon-service-provider.png) no-repeat;
		background-size:100% 100% ;
	}
	.icon-hair-nees:before{
		display: inline-block;
		width: .3rem;
		height: .3rem;
		margin-bottom: .2rem;
		content: "";
		background: url(../images/icon-hair-needs.png) no-repeat;
		background-size:100% 100% ;
	}
	.zn-hr{
		height: .1rem;
		background: #eee;
	}
	.zn-modules-wx-title{
		margin:0 -.15rem .2rem;
	}
	.zn-modules-wx{
		padding: .2rem;
		font-family: "微软雅黑";
	}
	.module-title{
		font-size: .15rem;
		color: #333;
		font-weight: 700;
	}
	.wx-links-more{
		font-size: .13rem;
		color: #999;
	}
	.zn-wx-needs-title{
		font-size: .13rem;
		color: #333;
	}
	.zn-wx-needs-title>*{
		margin-bottom: 0;
		line-height: .18rem;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.zn-wx-needs-status{
		font-size: .13rem;
		color: #eb6732;
		line-height: .36rem;
	}
	.zn-modules-wx-content>a:first-child *{
		text-decoration: underline;
	}
	.zn-wx-bidding-time,.zn-wx-services-addr{
		font-size: .13rem;
		color: #333;
		line-height: .36rem;
	}
	.zn-media-left{
		width: 1rem;
		height: .6rem;
	}
	.zn-media-left>img{
		width: 1rem;
		height: .6rem;
	}
	.zn-media-body{
		padding-left:.3rem ;
		padding-right: 0;
		width: calc(100% - 1rem);
		font: .12rem "微软雅黑";
		line-height: .14rem;
		text-overflow: -o-ellipsis-lastline;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}
	.zn-wx-news-title{
		color: #000;
		font-weight: 700;
	}
	.zn-wx-news-time{
		color: #999;
		margin-bottom: .1rem;
	}
	.zn-wx-news-content{
		color: #666;
		height: .28rem;
	}
	.zn-list-content-wrapper {
	    width: 100%;
	    margin-left: 0;
	    border: none;
	    padding: 0;
	}
	.zn-list-content-head,.zn-list-content-body,.zn-user-center-head,.zn-user-center-body{
		margin-left: 0;
		margin-right: 0;
		padding: 0;
	}
	.zn-user-center-head{
		border: none;
	}
	.zn-list-content-pos{
		font-size: .12rem;
		top: 0;
		padding: 0;
	}
	.zn-list-content{
		padding: .15rem 0;
	}
	.zn-list-content:last-child{
		border-bottom: .01rem solid #eee;
	}
	.wx-user-center{
		margin-top: 0;
	}
	.wx-footer{
		width: 100%;
		position: fixed;
		bottom: 0;
		height: .45rem;
		font: .14rem/.35rem "微软雅黑";
		color: #f17030;
		background: #fff;
		padding: .05rem 0;
	}
	.wx-footer-message{
	    border-left: .01rem solid #eee;
	    border-right: .01rem solid #eee;
	}
	body.wx-user-center{
		background: #eee;
	}
	.header-wx,.zn-list-content-body{
		background: #fff;
	}
	.zn-user-center-wrapper {
	    width: 100%;
	    margin-left: 0;
	    border: none;
        padding: 0;
	}
	.zn-user-center-head{
		background: #edf4f7;
		font: 0.14rem/.4rem "微软雅黑";
	}
	.zn-myshop-wrapper{
		display: none;
	}
	.zn-myshop-content-wrapper{
	    margin-top: 0;
	}
	.distpicker-add select{
		padding: 0;
	}
	.zn-myshop-wx-head{
		background: url(../images/reg-bg.jpg) no-repeat;
		background-size:100% 100%;
		height: 2.25rem;
	}
	.icon-wx-head{
		margin: .48rem auto;
		background: #fff;
		width: 1.1rem;
		height: 1.1rem;
		border-radius:50% ;
		border: .02rem solid #f37021;
	}
	.zn-myshop-wx-body{
		padding-top: 1.1rem;
	}
	.zn-myshop-wx-btn{
		width: 3rem;
		height: .4rem;
		background: #fb964e;
		margin: .3rem auto;
		border-radius: .02rem;
		text-align: center;
		font: .14rem/.4rem "微软雅黑";
		color: #fff;
	}
	.form-horizontal.zn-shop-cert-form>.form-group label{
		padding-top: .07rem;
		text-align: right;
	}
	.form-horizontal.zn-shop-cert-form [class*=col]{
		padding:0 .05rem;
	}
	.form-horizontal.zn-shop-cert-form .radio{
        padding-top: 0; 
    }
    .zn-shop-cert-form>.form-group:last-child {
    	width: 100%;
	    margin:0 -.15rem;
	    position: fixed;
	    bottom: 0;
	}
	.zn-shop-cert-form>.form-group:last-child>*{
		padding: 0;
	}
	.zn-shop-cert-form>.form-group:last-child .btn{
		border-radius: 0;
		background: #ff8932;
		height: .45rem;
	}
	.cert-type>div[class*=col]{
		padding:0 .05rem ;
	}
	.icon-cert-type{
		display: none;
	}
	.cert-type-personal,.cert-type-company{
		background: #eee;
		border: .02rem solid #ccc;
		border-radius: .03rem;
		text-align: center;
	}
	.cert-type-personal{
		margin-right: -.06rem;
		border-right: .02rem solid #FF8932;
	}
	.cert-type-company{
		margin-left: -.06rem;
		border-left: .02rem solid #FF8932;
	}
	.cert-type-personal.active,.cert-type-company.active{
		border: .02rem solid #FF8932;
		background: #fff;
		color: #FF8932;
	}
	.zn-shop-head{
		margin: 0;
		background: url(../images/bg-shop-head-wx.png) no-repeat;
		background-size: 100% 100%;
		height: 1.14rem;
		margin: -.15rem;
	}
	.icon-head{
	    width: .6rem;
	    height: .6rem;
	    border: 0.02rem solid rgba(254,254,254,.749);
	}
	.zn-shop-hr{
		width: 100%;
		height: .01rem;
	}
	.shop-name{
		font: 0.16rem "微软雅黑";
	    color: #fff;
	}
	.shop-phone-number{
		font: 0.14rem "微软雅黑";
	    color: #fff;
	}
	.shop-intro{
		font: 0.12rem "微软雅黑";
	    color: #999;
	}
	.shop-name>p,.shop-phone-number>p,.shop-intro>p{
	    margin-bottom: .05rem;
	}
	.shop-service-show-box-wrapper-title{
		font: 0.16rem "微软雅黑";
		padding: 0;
		line-height: .5rem;
	}
	.shop-service-show-box-wrapper{
		margin: .2rem 0 0;
	}
	.img-thumbnail>img {
	    width: 100%;
	    height: .89rem;
	}
	.free-consultation-btn,.shop-service-delete-btn,.shop-service-edit-btn{
		display: none;
	}
	.shop-service-show-box-title{
        font-size: 0.16rem;
	}
	.shop-service-show-box-content{
        font-size: 0.12rem;
        padding: 0;
	}
	.img-thumbnail{
		height: auto;
	}
	.shop-service-show-box{
		padding: 0;
	}
	.shop-service-show-box-wx{
		padding: 0 .15rem;
	}
	.zn-shop-footer-add{
		width: 100%;
		height: .6rem;
		background: #eee;
	}
	.zn-shop-footer{
		width: 100%;
		background: #fff;
		display: block;
		position: fixed;
		bottom: 0;
		height: .45rem;
		padding: .05rem 0;
		text-align: center;
		line-height:.45rem ;
		font: .14rem "微软雅黑";
		color: #fe7500;
	}
	.setup-shop-btn,.myneeds-btn{
		line-height: .35rem;
	}
	.setup-shop-btn{
		border-right: .01rem solid #eee;
	}
	.filter-wrapper>.row{
		margin-right: 0;
		margin-left: 0;
	}
	.filter-wrapper>.row>div[class|=col]{
		padding: 0;
	}
	.zn-shop-view-bidding-form>.form-group label{
		text-align: right;
		font: .14rem "微软雅黑";
		
	}
	.zn-shop-view-bidding-form>.form-group .form-control-static{
		padding-top: 0;
	}
	.zn-shop-view-bidding-form>.form-group label img{
		width: .5rem;
		height: .5rem;
		border: .02rem solid #eee;
	}
	.view-bidding-company-intro,.budget,.needs-des{
		font: .12rem "微软雅黑";
	}
	.view-bidding-company{
		font: .14rem "微软雅黑";
	}
	.zn-shop-biddng-form-wx-btn{
		font: .14rem "微软雅黑";
		padding: .1rem .5rem;
	}
	.zn-shop-body-details{
		margin-top: 0;
	}
	.zn-shop-body-details-transport{
		height: 2.38rem;
	}
	.wx-nopadding{
		padding: 0;
	}
	.zn-shop-body-details-btn.btn{
		width: 100%;
		position: fixed;
		bottom: 0;
		left: 0;
		border-radius:0 ;
		background: #ff8932;
		font: 0.15rem "微软雅黑";
	}
	.zn-shop-body-details-content-wx{
		display: block;
		padding: .15rem;
		margin: 0;
		min-height: 3rem;
		margin-bottom: .6rem;
	}
	.products-intro-title-wx{
		font: .17rem "微软雅黑";
		color: #333;
		text-align: center;
		margin: .15rem;
	}
	.products-intro-content-wx{
		font: .14rem "微软雅黑";
		color: #666;
	}
	.service-provider-btn{
		width: 1.4rem;
		height: .35rem;
		padding: 0;
		font: .12rem "微软雅黑";
	}
	.service-provider-btn+.help-block{
		font: .12rem "微软雅黑";
		text-align: left;
		margin-left: .10rem;
		margin-right: .10rem;
	}
}